<section id='app-markov'>
  <div class='section bg-primary text-dark section-lg'>
    <dov class='container'>
      <div class='row justify-content-center text-center pt-6'>
        <div class='col-lg-8 col-xl-8'>
          <h1 class='display-2 mb-3'>{{title}}</h1>
        </div>
      </div>
    </dov>

    <div class='container'>
      <div class='row justify-content-center'>

        <div class='col-6'>
          <div class='form-group'>
            <label>Matriz de probabilidades</label>
            <textarea
              id="text-area"
              class='form-control font-medium'
              :rows='controls.textAreaRows'
              v-model='pMatrix'
            ></textarea>
          </div>
        </div>

        <div class='col-6'>
          <label>Previsualizacion</label>
          <div id="preview-matrix"
          class='table-responsive-sm shadow-soft rounded overflow-auto overflow-auto'>
            <table class='table'>
              <colgroup>
                <col span="1" style="width: 15%;">
             </colgroup>

              <tr>
                <th scope="col" class='border-0'>&nbsp;</th>
                <th scope="col"
                  v-for='(row, index) in matrix.length'
                  class='border-0 text-center'
                  :key='index'
                >
                  \{{ index }}
                </th>
              </tr>

              <tr v-for='(row, x) in matrix' :key='x'>
                <th scope="col" class='border-0 text-center'>\{{x}}</th>

                <template v-for='(cell, y) in row' :key='y'>
                  <td scope="col" class="text-center border-0">
                    \{{ cell }}
                  </td>
                </template>
              </tr>

            </table>
          </div>
        </div>

        <div class='col-4'>
          <label class='form-text'>
            Separe por espacios los valores
          </label>
          <div class='input-group mb-4'>
            <div class='input-group-prepend'>
              <span class='input-group-text'>P<sub>(0)</sub>=</span>
            </div>
            <input
              :class="{'bg-red-solid': matrix.length != p_0.length}"
              class='form-control'
              placeholder=''
              v-model='p_n'
            />
          </div>
        </div>
        <div class='col-3 mb-5'>
          <label class='form-text'>
            Calcular P
            <sub>&lpar;n&rpar;</sub>
          </label>
          <div class='d-flex flex-row justify-content-center'><div
              class='input-group'
            >
              <input
                class='form-control form-control border-light'
                type="number"
                placeholder=''
                v-model.number='pow'
              />
              <div class='input-group-prepend'>
                <button
                  v-on:click.stop.prevent='calculateMatrix'
                  class='btn btn-primary rounded-right'
                >
                  Calcular P<sub>&lpar;\{{pow}}&rpar;</sub>
                </button>
              </div>

            </div>
          </div>

        </div>

        <div class='col-10'>
          <template v-for='(P, index) in resultsP_n' :key='index'>
            <div class='alert alert-secondary shadow-soft'>
              <span class='alert-inner--text'>
                P<sub>\{{index + 1}}</sub>
                = [
                <template v-for='(item, index) in P'>
                  \{{item.toFixed(2) }}
                  <span v-if='index < P.length - 1'>,</span>
                </template>
                ]
              </span>
            </div>
          </template>
        </div>
        <div class='col-12'>

          <div
            id='cy'
            style='height: 350px;'
            class='card bg-primary shadow-inset border-light'
          >

          </div>

        </div>

      </div>
    </div>
  </div>
</section>